// COLORES
$gris            : #c1c1c1;
$negro           : #212123;
$verde           : #306A23;
$blanco          : #ffffff;
$amarillo        : #E4A460;
$rojo            : #EB1437;


$principal       : $amarillo;
$bg-fondo        : $blanco;
$color-titulos   : $amarillo;
$titulos-cajas   : $blanco;


// MEDIDAS
$max-width       : 1100px;


// FUENTE
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,900';
$fuente           : 'Raleway', sans-serif;