html {
	box-sizing: border-box;
}
*,*::before,*::after {
	box-sizing:inherit;
}
.contenedor {
	max-width: $max-width;
	width: 100%;
	margin: 0 auto;
}
.current-menu-item {
	border-bottom: 2px solid $principal;
}

h1,h2,h3,h4,h5,h6 {
	color: $color-titulos;
	font-family: $fuente;
}
.texto-centrado {
	text-align: center;
	margin: 0 auto;
}
img {
	width: 100%;
}